<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>bargo</title>

  <!-- Bootstrap core CSS -->
  <link href="../static/Pages-inside/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="../static/Pages-inside/css/goldentemple.css" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="{{url_for('aftlogin')}}">BharGO</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('aftlogin')}}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('about')}}">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('contact')}}">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">Colva Beach
      <small>Popular for water sports </small>
    </h1>

    <ol class="breadcrumb-item">
      <li class="breadcrumb-item">
        <a href="{{url_for('aftlogin')}}">Home</a>
      </li>
      <li class="breadcrumb-item active">
        <a href="#">Colva Beach</a></li>
    </ol>

    <!-- Portfolio Item Row -->
    <div class="row">

      <div class="col-md-8">
        <img class="img-fluid" src="https://www.holidify.com/images/cmsuploads/compressed/attr_1406_20200805185820.jpg" alt="">
      </div>

      <div class="col-md-4">
        <h3 class="my-3">Description</h3>
        <p>The captivating Colva Beach, located in South Goa, is one of the most visited beach of Goa. The 2.5 km long beach is known
           for its powdery white sands flanked by swaying coconut trees that add to its beauty. It looks more stunning with shacks, 
           nightclubs and souvenir stalls all around.Colva Beach is also popular for water sports like paragliding, jet-skiing, snorkelling,
          speed boat ride and banana boat rides.It is visited by tourists for its stunning sunset and calming blue waves. While the Colva Beach is 
          serene for peace-lovers,it perks up at night for party-lovers. With the nonchalant ambience,
          mesmerizing view of the endless beach and spirited people, Colva Beach is one of the most loved beaches of Goa.
        </p>
        <h3 class="my-3">Famous for</h3>
        <ul>
          <li>Colva is now a famous tourist destination, enjoyed for its beach. The tourist industry is well developed with many budget hotels, guest houses, beach shacks, food stalls,
             small restaurants and pubs and bars, although these developments haven't extended in any large degree to the nightlife.</li>
        </ul>
      </div>

    </div>
    <!-- /.row -->

    <!-- Related Projects Row -->
    <h3 class="my-4">Related Pictures</h3>

    <div class="row">

      <div class="col-md-3 col-sm-6 mb-4">
        <a href="#">
          <img class="img-fluid" src="https://goa-tourism.org.in/images/places-to-visit/headers/colva-beach-goa-entry-fee-timings-holidays-reviews-header.jpg" alt="">
          </a>
      </div>

      <div class="col-md-3 col-sm-6 mb-4">
        <a href="#">
          <img class="img-fluid" src="https://www.tourmyindia.com/states/goa/image/accommodation-in-colva.webp" alt="">
          </a>
      </div>
      <div class="col-md-3 col-sm-6 mb-4">
        <a href="#">
          <img class="img-fluid" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5a/Activities_at_Colva_Beach.jpg/1200px-Activities_at_Colva_Beach.jpg" alt="">
        </a>
      </div>

      <div class="col-md-3 col-sm-6 mb-4">
        <a href="#">
          <img class="img-fluid" src="https://i.ytimg.com/vi/ZpHpnouoD6w/maxresdefault.jpg" alt="">
        </a>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-3 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Bhargo </p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>