<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>bargo</title>

  <!-- Bootstrap core CSS -->
  <link href="../static/Pages-inside/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="../static/Pages-inside/css/goldentemple.css" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="{{url_for('aftlogin')}}">BharGO</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('aftlogin')}}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('about')}}">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('contact')}}">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">Gwalior Fort
      <small>The Modern-day fort</small>
    </h1>

    <ol class="breadcrumb-item">
      <li class="breadcrumb-item">
        <a href="{{url_for('aftlogin')}}">Home</a>
      </li>
      <li class="breadcrumb-item active">
        <a href="#">Gwalior Fort</a></li>
    </ol>

    <!-- Portfolio Item Row -->
    <div class="row">

      <div class="col-md-8">
        <img class="img-fluid" src="https://media.istockphoto.com/photos/gwalior-fort-picture-id148333070?k=20&m=148333070&s=612x612&w=0&h=z3_-YH66jrvZZejgryYAhTDC4wmXUYNqG5Fki8KzlLA=" alt="">
      </div>

      <div class="col-md-4">
        <h3 class="my-3">Description</h3>
        <p>One of the oldest forts in Madhya Pradesh as well as in India, Gwalior Fort is known for its stunningarchitecture and unique history.
        Sprawling and offering unforgettable city views, this hill fort has been ruled by dynastiesof different kingdoms over the years.
         It is also considered as one of the most impenetrable forts in the country. Hence, if you are passionate about
         different cultures and their past glories, a visit to Gwalior Fort is a must. </p>
        <h3 class="my-3">Also Known as</h3>
        <ul>
          <li>Gwaliiyar Qila</li>
          <li>great architecture and rich rice past</li>
        </ul>
      </div>

    </div>
    <!-- /.row -->

    <!-- Related Projects Row -->
    <h3 class="my-4">Related Pictures</h3>

    <div class="row">

      <div class="col-md-3 col-sm-6 mb-4">
        <a href="#">
        <img class="img-fluid" src="https://theculturetrip.com/wp-content/uploads/2018/02/siddhachal-v1.jpg" alt="">
        </a>
      </div>

      <div class="col-md-3 col-sm-6 mb-4">
        <a href="#">
          <img class="img-fluid" src="https://media.gettyimages.com/photos/gwalior-fort-picture-id1075525132?s=612x612" alt="">
        </a>
      </div>

      <div class="col-md-3 col-sm-6 mb-4">
        <a href="#">
          <img class="img-fluid" src="https://thumbs.dreamstime.com/b/gwalior-fort-18778069.jpg" alt="">
        </a>
      </div>

      <div class="col-md-3 col-sm-6 mb-4">
        <a href="#">
          <img class="img-fluid" src="https://thetravelcurry.com/wp-content/uploads/2021/02/DSC_1815-1140x760.jpg" alt="">
        </a>
      </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-3 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Bhargo </p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
