<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>bargo</title>

  <!-- Bootstrap core CSS -->
  <link href="../static/Pages-inside/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="../static/Pages-inside/css/goldentemple.css" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="{{url_for('aftlogin')}}">BharGO</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('aftlogin')}}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('about')}}">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('contact')}}">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">MON
      <small>the raw natural beauty</small>
    </h1>

    <ol class="breadcrumb-item">
      <li class="breadcrumb-item">
        <a href="{{url_for('aftlogin')}}">Home</a>
      </li>
      <li class="breadcrumb-item active">
        <a href="./mon.html">Mon</a></li>
    </ol>

    <!-- Portfolio Item Row -->
    <div class="row">

      <div class="col-md-8">
        <img class="img-fluid" src="https://www.adotrip.com/public/images/areas/60c9aced6e54c-Mon%20Nagaland%20Place%20to%20visit.jpg" alt="">
      </div>

      <div class="col-md-4">
        <h3 class="my-3">Description</h3>
        <p></p>Mon, home of the Konyak nagas situated in Nagaland, provides a unique and quite enchanting view of tattooed faces wearing feathery loincloths. With the exception of the foothills, this district has difficult terrain with steep slopes. It doesn't have a lot of touristy places here, but still, a lot of tourists make their way to Mon from all around the world. The most interesting aspect of this hill town is its people, their culture and their dressing which is very colourful and unique.
        </p>
        <h3 class="my-3">is known for</h3>
        <ul>
          <li>Mon district is the home of the Konyak Nagas</li>
          
        </ul>
      </div>

    </div>
    <!-- /.row -->

    <!-- Related Projects Row -->
    <h3 class="my-4">Related Pictures</h3>

    <div class="row">

      <div class="col-md-3 col-sm-6 mb-4">
        <a href="#">
          <img class="img-fluid" src="https://www.gosahin.com/go/d/1519416669_Mon-Nagaland.jpg" alt="">
          </a>
      </div>

      <div class="col-md-3 col-sm-6 mb-4">
        <a href="#">
          <img class="img-fluid" src="https://i0.wp.com/nenow.in/wp-content/uploads/2021/03/window-to-nagaland.jpg?fit=550%2C412&ssl=1" alt="">
          </a>
      </div>
      <div class="col-md-3 col-sm-6 mb-4">
        <a href="#">
          <img class="img-fluid" src="https://www.travelholicq.com/wp-content/uploads/2021/04/Longwa-village-Mon.jpg" alt="">
        </a>
      </div>

      <div class="col-md-3 col-sm-6 mb-4">
        <a href="#">
          <img class="img-fluid" src="https://cdn.britannica.com/36/178636-050-805D750A/mosque-sandstone-mausoleum-complex-Taj-Mahal-Uttar.jpg" alt="">
        </a>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-3 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Bhargo </p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>