<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>bargo</title>

  <!-- Bootstrap core CSS -->
  <link href="../static/Pages-inside/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="../static/Pages-inside/css/goldentemple.css" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="{{url_for('aftlogin')}}">BharGO</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('aftlogin')}}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('about')}}">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('contact')}}">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>


  <!-- Page Content -->
  <div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">Taj Mahal
      <small>buit over 350 years ago</small>
    </h1>

    <ol class="breadcrumb-item">
      <li class="breadcrumb-item">
        <a href="{{url_for('aftlogin')}}">Home</a>
      </li>
      <li class="breadcrumb-item active">
        <a href="#">Taj Mahal</a></li>
    </ol>

    <!-- Portfolio Item Row -->
    <div class="row">

      <div class="col-md-8">
        <img class="img-fluid" src="https://th-thumbnailer.cdn-si-edu.com/CbddkFFO3OB80rRz83Iiuf-Z0FY=/1000x750/filters:no_upscale():focal(1471x1061:1472x1062)/https://tf-cmsv2-smithsonianmag-media.s3.amazonaws.com/filer/b6/30/b630b48b-7344-4661-9264-186b70531bdc/istock-478831658.jpg" alt="">
      </div>

      <div class="col-md-4">
        <h3 class="my-3">Description</h3>
        <p></p>The Taj Mahal, India’s architectural crown jewel, was built over 350 years ago by a powerful ruler in honor of his beloved wife.
          This monument is recognizable to people around the world because of its symmetry, white marble, and the love story that brought
           it to life. There is an unspoken beauty about this building that has captured hearts for generations, and is captivating people
          still. Millions of people around the world come to Google to learn more about the Taj Mahal, even if they may never have the chance to get there.
        </p>
        <h3 class="my-3">is known for</h3>
        <ul>
          <li>It was built to honor the favorite wife of Shah Jahan</li>
        
        </ul>
      </div>

    </div>
    <!-- /.row -->

    <!-- Related Projects Row -->
    <h3 class="my-4">Related Pictures</h3>

    <div class="row">

      <div class="col-md-3 col-sm-6 mb-4">
        <a href="#">
          <img class="img-fluid" src="https://img.freepik.com/premium-photo/taj-mahal-standing-near-river-yamuna-taj-mahal-is-famous-own-beauty-one-wonders-world_181020-3384.jpg" alt="">
          </a>
      </div>

      <div class="col-md-3 col-sm-6 mb-4">
        <a href="#">
          <img class="img-fluid" src="https://st.depositphotos.com/1007607/1384/i/950/depositphotos_13841497-stock-photo-taj-mahal-a-famous-historical.jpg" alt="">
          </a>
      </div>
      <div class="col-md-3 col-sm-6 mb-4">
        <a href="#">
          <img class="img-fluid" src="https://www.creativecowboyfilms.com/uploads/ckeditor/W1siZiIsIjIwMTQvMDEvMDQvMDNfNDZfNTBfMzk4X1RNXzE2LmpwZyJdLFsicCIsInRodW1iIiwiNjQweDY0MD4iXV0/TM_16.jpg" alt="">
        </a>
      </div>

      <div class="col-md-3 col-sm-6 mb-4">
        <a href="#">
          <img class="img-fluid" src="https://cdn.britannica.com/36/178636-050-805D750A/mosque-sandstone-mausoleum-complex-Taj-Mahal-Uttar.jpg" alt="">
        </a>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-3 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Bhargo </p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>