<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>bargo</title>

  <!-- Bootstrap core CSS -->
  <link href="../static/Pages-inside/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="../static/Pages-inside/css/goldentemple.css" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="{{url_for('aftlogin')}}">BharGO</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('aftlogin')}}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('about')}}">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('contact')}}">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">Twang
      <small> chosen by a Horse owned by Mera Lama Lodre Gyatso</small>
    </h1>

    <ol class="breadcrumb-item">
      <li class="breadcrumb-item">
        <a href="{{url_for('aftlogin')}}">Home</a>
      </li>
      <li class="breadcrumb-item active">
        <a href="#">Twang</a></li>
    </ol>

    <!-- Portfolio Item Row -->
    <div class="row">

      <div class="col-md-8">
        <img class="img-fluid" src="https://www.tourmyindia.com/states/arunachalpradesh/images/tawang4.jpg" alt="">
      </div>

      <div class="col-md-4">
        <h3 class="my-3">Description</h3>
        <p>Erstwhile Tawang District was a Sub-Division of West Kameng District till 5th October 1984. This district is situated in western most part of Arunachal Pradesh.
            The area of this district is approximately 2,172 Sq.km, bounded by Tibet (China) to the north, Bhutan to the south-west and Sela ranges separated from West Kament district in the east.
            The name of Tawang is believed to have derived its name from the grandiose of Tawang Monastery perched on the edge of the ridge running
         along the western part of Tawang township. The popular interpretation is that the name “Tawang” was given by his holiness the Mera Lama Lodre Gyatso. </p>
        <h3 class="my-3">Also Known as</h3>
        <ul>
          <li> Galden Namgey Lhatse</li>
        </ul>
      </div>

    </div>
    <!-- /.row -->

    <!-- Related Projects Row -->
    <h3 class="my-4">Related Pictures</h3>

    <div class="row">

      <div class="col-md-3 col-sm-6 mb-4">
        <a href="#">
          <img class="img-fluid" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTGl0AAZIkSNFAvTf47_toq9btezrIPBsG9eg&usqp=CAU" alt="">
          </a>
      </div>

      <div class="col-md-3 col-sm-6 mb-4">
        <a href="#">
          <img class="img-fluid" src="https://toim.b-cdn.net/pictures/travel_guide/attractions/thmb/tawang-84.jpeg" alt="">
          </a>
      </div>
      <div class="col-md-3 col-sm-6 mb-4">
        <a href="#">
          <img class="img-fluid" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSTM400cwuBIvJz5BLLtM3s4j7pXRMHSe-gAw&usqp=CAU" alt="">
        </a>
      </div>

      <div class="col-md-3 col-sm-6 mb-4">
        <a href="#">
          <img class="img-fluid" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQb77ZBDsUcawy7jK3qIkI-htxkMeibQVCBKA&usqp=CAU" alt="">
        </a>
      </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-3 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Bhargo </p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
