<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>bargo</title>

  <!-- Bootstrap core CSS -->
  <link href="../static/Pages-inside/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="../static/Pages-inside/css/goldentemple.css" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="{{url_for('aftlogin')}}">BharGO</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('aftlogin')}}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('about')}}">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('contact')}}">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">Vivekananda Rock Memorial
      <small> blend of all the architectural styles of India</small>
    </h1>

    <ol class="breadcrumb-item">
      <li class="breadcrumb-item">
        <a href="{{url_for('aftlogin')}}">Home</a>
      </li>
      <li class="breadcrumb-item active">
        <a href="#">Vivekananda Rock Memorial</a></li>
    </ol>

    <!-- Portfolio Item Row -->
    <div class="row">

      <div class="col-md-8">
        <img class="img-fluid" src="https://www.vrmvk.org/themes/contrib/gavias_gofunded/images/Vivekananda-Rock-Memorial.gif" alt="">
      </div>

      <div class="col-md-4">
        <h3 class="my-3">Description</h3>
        <p>There are two rocks projecting out of the Ocean, South East of the Kanyakumari temple. It was on one of these rocks 
          that Swami Vivekananda sat in long and deep meditation. With the blessings of the virgin goddess, the simple monk was
           thus transformed into a powerful crusader. The rock is now called the `Vivekananda Rock'. On this rock stands the `Vivekananda Rock Memorial'
            built in 1970, in a blend of all the architectural styles of India. A statue of Swami Vivekananda has been installed in the memorial Mandapam. 
            One can also see Sri Pada Parai, the footprints of the virgin goddess, on this rock.
           With the Indian Ocean right in the background, this statue is a peaceful and serene destination.</p>
        <h3 class="my-3">Also Known as</h3>
        <ul>
          <li>Sripada Parai</li>
        </ul>
      </div>

    </div>
    <!-- /.row -->

    <!-- Related Projects Row -->
    <h3 class="my-4">Related Pictures</h3>

    <div class="row">

      <div class="col-md-3 col-sm-6 mb-4">
        <a href="#">
          <img class="img-fluid" src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3e/Kanyakumari_rock_temple.jpg/220px-Kanyakumari_rock_temple.jpg" alt="">
          </a>
      </div>

      <div class="col-md-3 col-sm-6 mb-4">
        <a href="#">
          <img class="img-fluid" src="https://1.bp.blogspot.com/-zHdCU6deCCQ/X2TU-kA2sHI/AAAAAAAAAbI/hvaZ3E2FJJYRbALdAIX8Lldhwo_lZzCCwCLcBGAsYHQ/s2000/star-ocean-photography-vivekanandapuram-kanyakumari-photo-studios-nuycmnreqf.jpg" alt="">
          </a>
      </div>
      <div class="col-md-3 col-sm-6 mb-4">
        <a href="#">
          <img class="img-fluid" src="https://www.ghumakkar.com/wp-content/uploads/2015/07/Photo-102.jpg" alt="">
        </a>
      </div>

      <div class="col-md-3 col-sm-6 mb-4">
        <a href="#">
          <img class="img-fluid" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQR7dYkaDPrCOCp6YcVhNoD3kk0PloPWjirtg&usqp=CAU" alt="">
        </a>
      </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-3 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Bhargo </p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>